@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-in {
    animation-delay: calc(var(--index) * 130ms);
  }
}

.pinned-proj-img { /* style for the pinned project images*/
  width: 250px;
  height: 170px;
}
